.App {
  text-align: center;
}

.pokedex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.filterButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 200px;
}

.typeButton {
  background-color: orange;
  border: brown 1px solid;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 75px;
  margin: 7px 20px;
  width: 150px;
  height: 75px;
}